@charset "utf-8";
/* CSS Document */

/*CSS RESET*/
@import url("normalize.css");


/*MISC STYLES*/

body {
color:#353535;
font-size:1.8em;
font-weight: 600;
background:#fff;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
overflow-x:hidden;
}


br {
line-height: 1.3;
}

a:hover {
	text-decoration:none;
}

h2 {
color:#353535;
text-transform: uppercase;
font-size:1.9em;
font-weight:bold;
text-align:center;
margin-top:50px;
margin-bottom:35px;
}

h2 span {
color:#61A1D7;
}

h3 {
color:#ffffff;
text-transform: uppercase;
font-size:1.6em;
font-weight:normal;
text-align:left;
}

h3 span,h5 span {
font-weight:bold;
}

h4 {
font-size: 1.1em;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 0;
}

.hide {
display:none;
}

.btn-petco {
border-radius: 0;
background: #4A4A4A;
border: none;
padding: 10px 0;
width:100%;
color: #fff;
text-transform: uppercase;
margin-top:20px;
margin-bottom:20px;
}

.btn-petco:hover {
background: #609ED3!important;
color: #fff;
}

.btn-petco.sub {
border-radius: 0;
background: #B5B700;
border: none;
padding: 7px 14px;
color: #fff;
font-weight: bold;
text-transform: uppercase;
margin-top:5px;
}

.form-petco {
border-radius: 0;
padding-left: 8px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #B5B700;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(181, 183, 0, 0.6);
  outline: 0 none;
}
/*BASE STYLES*/
/*------------------------------------Moble Phone layout: 0px to 480px.*/

/*----------------HEADER*/

#mhead {
background:#B5B700;
padding-top:5px;
width:100%;
position:fixed;
z-index:100;
}

	#logo {
	display:inline-block;
	padding-top:5px;
	padding-left:
	}

		#logo_desk {
		display:none;
		width: 245px!important;
		max-width: 245px!important;
		}

/*---------------/HEADER*/

/*----------------NAVBAR*/

#main_nav {
margin-bottom:0;
border:none;
box-shadow:none;
}

	#nav_btn {
	display: inline-block;
	background: #1A232E;
	position: absolute;
	right: -1px;
	height: 94px;
	top: -92px;
	padding: 0 20px;

	}

		#nav_btn > .navbar-toggle {
		padding: 12px 10px;
		margin-top: 25px;
		margin-right: 0;
		margin-bottom: 0;
		border: 2px solid #fff;
		border-radius: 4px;
		}

		#nav_btn > .navbar-toggle .icon-bar {
		height: 3px;
		background:#fff;
		}

	#menu {
	background: #fff;
	margin-right: -16px;
    margin-left: -16px;
	border-top:none;
    box-shadow:none;
	}

		#menu ul.navbar-nav {
		margin: 0 -15px;
		}

			#menu ul.navbar-nav>li>a {
			padding-top: 20px;
			padding-bottom: 20px;
			text-transform: uppercase;
			font-weight: bold;
			color: #4b4b4b;
			border-bottom: 1px solid #d6d6d6;
			padding-left: 24px;
			font-size: 1em;
			}

			#menu ul.navbar-nav>li>a.active {
			color: #ffffff;
			background:#61A1D7;
			border-bottom: none;
			}

			#menu ul.navbar-nav>li>a:focus, #menu ul.navbar-nav>li>a:hover  {
			color: #ffffff;
			background:#61A1D7;
			border-bottom: none;
			}


				#menu .dropdown-menu>li>a {
				padding-top: 20px;
				padding-bottom: 20px;
				text-transform: uppercase;
				font-weight: bold;
				color: #4b4b4b;
				border-bottom: 1px solid #d6d6d6;
				padding-left: 24px;
				font-size: 1.3em;
				}

				#menu .dropdown-menu>li>a.active{
				color: #4b4b4b;
				background:#E4E4E4;
				border-bottom: none;
				}

				#menu .dropdown-menu>li>a:focus, #menu .dropdown-menu>li>a:hover  {
				color: #4b4b4b;
				background:#E4E4E4;
				border-bottom: none;
				}

			#menu ul.navbar-nav>li#facebook_link {
			float: left;
			width: 50%;
			text-align: right;
			background: #3B5999;
			}

				#menu ul.navbar-nav>li#facebook_link>a {
				padding: 5px;
				border:none;
				}

			#menu ul.navbar-nav>li#twitter_link {
			float: right;
			width: 50%;
			text-align: left;
			background: #28A9E2;
			}

				#menu ul.navbar-nav>li#twitter_link>a {
				padding: 5px;
				border:none;
				}

				#menu ul.navbar-nav>li#twitter_link img,#menu ul.navbar-nav>li#facebook_link img  {
				width:32px;
				height:32px;
				}
/*---------------/NAVBAR*/


/*----------------/HEADER*/

/*----------------CONTENT*/
#content {
padding-top:92px;
}

.intro {
color: #61A1D7;
font-weight: 700;
text-transform: uppercase;
}

/*---------------BANNER*/

#banner {
background:url(../images/banner_mobile_text.jpg)no-repeat center center;
height: 500px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

	/*#banner .container {
	padding: 150px 15px;
	overflow: hidden;
	}

		#banner #introhead {
		color: #ffffff;
		text-align: left;
		position: relative;
		right: -40%;
		width: 50%;
		max-width: 160px;
		}

		#banner #introhead span {
		color:#B5B700;
		}*/

/*---------------/BANNER*/



/*---------------COA*/

#coa .row>div {
padding:20px 30px;
}


	#coa .leftcoa {
	padding:0!important;
	}

	#coa .rightcoa {
	padding:0!important;
	}

		#event {
			background:url(../images/petco_event.jpg) no-repeat center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			max-height: 300px;
			min-height: 300px;
			}

			#eventhead {
			padding:125px 0;
			}


		#announcement {
		background:#B5B700;
		position:relative;
		max-height: 300px;
    	min-height: 300px;
		}
			#announcement:after {
			top: 56%;
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(181, 183, 0, 0);
			border-right-color: #B5B700;
			border-width: 11px;
			margin-left: -30px;
		}

			#announcement p {
			color:#ffffff;
			}



		#blog_feed {

		}
			#blog_feed h2 {
			text-align: left;
			margin-bottom: 10px;
			margin-top: 10px;
			}

			#viewblogbtn {
			margin-bottom:0;
			}

		#collection {
		background:#609ED3;
		text-align: center;
		color: #ffffff;
		max-height: 300px;
		min-height: 300px;
	}

			#collection h3 {
			text-align: center;
			}



		#newsletter {
		background:#19212A;
		}

			#newsletter .form-petco {
			border-radius: 0;
			padding-left: 8px;
			}

				#newsletter .form-group {
				margin-bottom:0!important;
				}

			#viewcolbtn {
			margin-bottom:0;
			margin-top:0px;
			background: #19212A;
			border: 2px solid #4a4a4a;
			}

				#newsletter .btn-petco {
				width:100%!important;
				}

			.vid {
			padding:0!important;
			background:url(../images/vid_image.jpg) no-repeat center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			}
			.vid .banner {
			/*padding: 25px 0;*/
			width: 100%;
			float: left;
			margin-top: 150px;
			background-color:rgba(255,255,255,0.7)
			}
				.vid .banner .blue_square{
					background: #61A1D7;
					margin: 0 15px;
					padding: 20px;
					float: left;
					cursor: pointer;
				}

				.vid.mhide .banner .blue_square {
					margin: 0;
					padding: 15px;
				}

				.vid .banner .blue_square .circle {
					border: 3px solid white;
					padding: 5px;
					border-radius: 50%;
				}
				.vid .banner h3 {
				font-size: 0.9em;
				color: #353535;
				font-weight: bold;
				margin-left: 60px;
				}

				.vid.mhide .banner h3 {
					margin: 0 10px 0 15px;
					padding: 15px;
				}
/*---------------/COA*/


/*---------------MEET THE TEAM*/
#team {
background:#F2F2F2;
}


	#team .slideup {
    color: #ffffff;
    /*background-color: rgba(119,161,215,0.8);*/
    padding: 10px;
	}

	#team .caption {
		width: 100%;
		height:240px;
		background-color: #90B1DC;
		/*bottom: 0;*/
		/*position: absolute;*/
		/*opacity: 1*/
	}

		.teamtitle {
		margin: 0;
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
		font-size: 1.2em;
		}g

		.slideup p {
		color: #ffffff;
		margin-bottom:2px;
		font-weight: normal;
		}

		.slideup p a {
		color: #ffffff;
		}


	#carousel-team .carousel-inner {
	padding:25px!important;
	}

	#carousel-team .carousel-control {
	background:none;
	}

	#carousel-team .carousel-caption {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    left: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align:left;
    text-shadow:none;
	}

		.teamhead {
		position: absolute;
		/*width: 100%;*/
		width: 220px;
		background-color: rgba(119,161,215,0.8);
		text-align: center;
		text-transform: uppercase;
		bottom: 0;
		margin: 0;
		font-size: 1.4em;
		padding: 20px 0;
		color: #fff;
			font-weight: bold;
		}

/*---------------/MEET THE TEAM*/

/*----------------FOOTER*/

#mfooter {
padding:20px 0;
background:#1A232E;
color:#D3D3D5;
}

	#mfooter .head {
	color:#fff;
	text-align:center;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:2px solid	#fff;
	}

		#mfooter .head h2 {
		color:#fff;
		}

			#mfooter p {
			color:#D3D3D5;
			text-align:left;
			}

			#mfooter a {
			color:#fff;
			text-align:left;
			text-transform:uppercase;
			}

			#mfooter .btn-petco {
			background:#1A232E;
			color:#fff!important;
			border:1px solid #fff;
			width:100%;
			text-align:center;
			}

				#mfooter a.active {
				color:#609ED3;
				}

				#mfooter a:hover {
				color:#609ED3;
				}

/*----------------/FOOTER*/

/*----------------COPY*/

/*----------------/COPY*/

#copy {
padding:10px 0;
background:#1D1D1D;
text-align:center;
}
	#copy p {
	color:#fff;
	text-align:center;
	font-size:0.9em;
	font-weight:normal;
	}

	#copy a {
	color:#fff;
	text-align:center;
	font-weight:normal;
	}


@media only screen and (min-width:280px) {
	#carousel-team .carousel-caption {
		position: absolute;
		right: 0;
		width: 100%;
		bottom: 0;
		height: 100%;
		left: 0;
		padding-bottom: 100px;
		display: none;
		background-color: rgba(119,161,215,0.8);
	}

	.teamhead{
		width: 88%;
		z-index: 99;
	}

	#announcement:after {

		top: -7%;
		left: 49%;
		right:auto;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(181, 183, 0, 0);
		border-bottom-color: #B5B700;
		border-width: 11px;
		margin-left: -30px;

	}

}

/*---------------------------------Tablet layout: 801px to 1824px. Inherits styles from: Moblie Layout*/
@media only screen and (min-width:480px) {

/*---------------/BANNER*/

#banner {
background:url(../images/banner_text.jpg)no-repeat center center;
height: 800px;
}

}



/*---------------------------------Desktop layout: 801px to 1824px. Inherits styles from: Moblie Layout and Tablet*/
@media only screen and (min-width:768px) {
/*MISC STYLES*/

body {
font-size:1.6em;
}


/*readjust container size*/

.petco.container {
	width:100%;
}

h2 {
font-size:2.4em;
}

/*HIDE MOBILE ELEMENTS FOR DESKTOP*/
.mhide {
display:none!important;
}

.hide {
display:block!important;
}

.btn-petco {
padding: 10px 35px;
width:auto;
color: #fff;
font-weight: bold;
float:right;
text-transform: uppercase;
}

.btn-petco.sub {
padding: 10px 35px;
width:auto;
color: #fff;
font-weight: bold;
text-transform: uppercase;
}

/*----------------HEADER*/

#mhead {
background: #18202A;
position:relative;
}

	#logo {
	display:block;
	padding-top:0;
	margin-bottom:-25px;
	margin-top:-5px;
	max-width:285px;
	}


/*---------------/HEADER*/

/*----------------NAVBAR*/

	#menu {
	background: transparent;
    padding-left: 0;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 20px;
    padding: 0;
    display: table!important;
    table-layout: fixed;
    float: none;
    width: 100%;
	}

		#menu ul.navbar-nav {
		margin: 0 -15px;
		}
			#menu ul.navbar-nav>li{
			display:inline-block;
			text-align:center;
			}

			#menu ul.navbar-nav>li>a {
			font-weight:normal;
			border-bottom: none;
			font-size: 0.7em;
			padding:0 4px;
			color: #ffffff;
			display:inline-block;
			text-align:center;
			}


				#menu ul.navbar-nav>li:first-child>a {
				padding-left:0;
				}

				#menu ul.navbar-nav>li:nth-child(7)>a {
				padding-right:0;
				}

			#menu ul.navbar-nav>li>a.active {
			background:transparent;
			color:#ffffff;
			text-shadow: #333 0 0 0;
			font-weight:600;
			}


			#menu ul.navbar-nav>li>a:hover  {
			background:transparent;
			color:#ffffff;
			text-shadow: #333 0 0 0;
			}

			#menu .nav .open>a, #menu .nav .open>a:focus, #menu .nav .open>a:hover	{
			background:transparent;
			color:#ffffff;
			text-shadow: #333 0 0 0;
			}

				#menu .dropdown-menu {
				background:#B5B700;
				border-radius:0;
				margin-top: 14px;
				}

							#menu .dropdown-menu:after {
							bottom: 100%;
							left: 85%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
							border-color: rgba(181, 183, 0, 0);
							border-bottom-color: #B5B700;
							border-width: 10px;
							margin-left: -10px;
						}

				#menu .dropdown-menu>li>a {
				font-weight:normal;
				color: #fff;
				border-bottom: none;
				font-size: 0.8em;
				padding:10px 15px;
				text-align:center;
				}

				#menu .dropdown-menu>li>a.active{
				background:#9FA100;
				font-weight:normal;
				color: #ffffff;
				}

				#menu .dropdown-menu>li>a:focus, #menu .dropdown-menu>li>a:hover  {
				background:#9FA100;
				font-weight:normal;
				color: #ffffff;
				}

					#menu ul.navbar-nav>li#facebook_link {
					float: left;
					width: 50%;
					text-align: right;
					background: #3B5999;
					}

						#menu ul.navbar-nav>li#facebook_link>a {
						padding: 5px;
						}

					#menu ul.navbar-nav>li#twitter_link {
					float: right;
					width: 50%;
					text-align: left;
					background: #28A9E2;
					}

						#menu ul.navbar-nav>li#twitter_link>a {
						padding: 5px;
						}
/*---------------/NAVBAR*/


/*---------------LOGIN FORM*/

#login_error {
display:none;
}

	#login form {
	margin-right:-65px;
	}

		#login_error p {
		color:#fff;
		font-size:0.7em!important;
		margin: 0;
		padding-bottom: 5px;
		padding-top: 20px;
		margin-top: -29px;
		}

		#login_error a {
		color:#fff;
		text-decoration:underline;
		}

		#login .socail {
		display:inline-block;
		padding-left:0;
		}

			#login .socail a#facebook {
			background: #3B5999;
			padding: 1px;
			display: inline-block;
			}

			#login .socail a#twitter {
			background: #28A9E2;
			margin-left: -5px;
			padding: 1px;
			display: inline-block;
			}

				#login .btn-petco.sub {
				margin-left: -5px;
				border-radius: 0;
				background: #B5B700;
				border: none;
				padding: 7px 14px;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				margin-top:0;
				margin-bottom:0;
				float: left;
			 }

/*---------------/LOGIN FORM*/


/*----------------/HEADER*/

/*----------------CONTENT*/
#content {
padding-top:0;
}

/*---------------/BANNER*/

#banner {
background:url(../images/banner_text.jpg)no-repeat center center;
height: 800px;
}



/*---------------BANNER*/



/*---------------QUOTE BANNER*/
#quote {
background:url(../images/quote_banner.jpg)no-repeat center center;
height: 400px;
}

/*---------------/QUOTE BANNER*/


/*---------------COA*/

	#coa .leftcoa {
	padding:0!important;
	}

	#coa .rightcoa {
	padding:0!important;
	padding-left:30px!important;

	}

	#announcement:after {
		top: 56%;
		left: auto;
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(181, 183, 0, 0);
		border-right-color: #B5B700;
		border-width: 11px;
		margin-left: -30px;
	}

	.teamhead {
		/*width: 100%;*/
	}

/*---------------/COA*/

}


/*------------------------------------------------------------------------------ Small Devices, Tablets */
@media only screen and (min-width : 992px) {

.petco.container {
	width:98%;
	max-width:1000px;
}


/*HIDE DESKTOP ELEMENTS FOR SMALL DESPLAYS*/
.thide {
display:block!important;
}



/*----------------NAVBAR*/

			#menu ul.navbar-nav>li>a {
			font-weight:normal;
			border-bottom: none;
			font-size: 0.89em;
			padding:0 8px;
			}

			#menu ul.navbar-nav>li:first-child>a {
			padding-left:0;
			}

			#menu ul.navbar-nav>li:nth-child(7)>a {
			padding-right:0;
			}

				#login .socail {
				padding-left:15px;
				}

}





/* Large screens ----------- */
@media only screen and (min-width : 1200px) {



}
